<p id="notice"><%= notice %></p>

<h1 class="text-center">Groups</h1>

    <% @groups.each do |group| %>
     
    <div class="list-group">

  <div class="list-group-item list-group-item-action"><h4><%= group.name %></div>
  
   <div class="list-group-item list-group-item-action"><%= link_to 'Show',group, class:"btn btn-warning" %></div>
    <div class="list-group-item list-group-item-action"><div class='d-flex justify-content-between align-items-center'>
                  <h5>Group by: <%= group.user.username %> </h5>
                   <h5><%= group.created_at.strftime("%d %B %Y") %> </h5>
            </div>
           </div>
           
      </div>
       
    <% end %>


<br>

<%= link_to 'New Group', new_group_path,class: 'btn btn-warning' %>
<%= link_to 'Back', root_path,class: 'btn btn-warning'%>
