<%= form_with(model: @account) do |form| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      

      <ul>
       
          
        
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :name %>
    <%= form.text_field :name,class:"form-control" %>
  </div>

  <div class="form-control">
    <%= form.label :Groups %>
    <%= form.collection_select :group_id,Group.all,:id, :name,{prompt:'Select the group'},
    class:"form-control" %>
  </div>

  <div class="form-control">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit 'submit',class:'btn btn-primary btn__sign mt-4' %>
  </div>
<% end %>
